* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #edf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-template-rows: 200px 100px 200px; */
}

.item {
    background: steelblue;
    color: #FFF;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
}

/* .item:nth-of-type(2) {
    height: 100px;
    width: 100px;
    align-self: end;
} */

/* .item:nth-of-type(1) {
    background: black;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item:nth-of-type(3) {
    background: red;
    grid-row-start: 2;
    grid-row-end: 4;
}


.item:nth-of-type(4) {
    background: green;
    grid-row-start: 2;
    grid-row-end: 4;
} */


@media(max-width: 500px) {

    .container {
        grid-template-columns: 1fr;
    }


}